<footer class="footer-container">
    <div class="footer-column">
        <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
        <img src="./assets/images/logo.jpg" alt="img-logo"/>
        <h4>FOLLOW US</h4>
        <div class="social-icons">
            <a href="#" class="bt-icon"><i class="fa-brands fa-instagram"></i>Instagram</a>
            <a href="#" class="bt-icon"><i class="fa-brands fa-youtube"></i>Youtube</a>
            <a href="#" class="bt-icon"><i class="fa-brands fa-facebook"></i>Facebook</a>
        </div>
        <a class="bt-store" href="">Hệ THỐNG CỬA HÀNG</a>
    </div>
    <div class="footer-column">
        <h3>NỘI THẤT NHÀ</h3>
        <ul>
            <li><a href="/">Giới thiệu</a></li>
            <li><a href="#">Tổng công ty</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Thẻ hội viên</a></li>
            <li><a href="#">Đổi trả hàng</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>THÔNG TIN LIÊN HỆ</h3>
        <p>Nhận thông tin mới nhất từ chúng tôi</p>
        <input type="email" placeholder="Nhập email của bạn">
        <button class="subscribe-btn">ĐĂNG KÝ</button>
        <p>Email liên hệ: <a href="mailto:noithatxuankhanh@gmail.com">simplehouse123&#64;gmail.com.vn</a></p>
        <p>Hotline: <a href="tel:0906904114">066771508</a></p>
    </div>
</footer>
