<div class="card">
  <div class="card-body">
    <h2>Update Sản Phẩm</h2>

    <form [formGroup]="putproductForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Name Field -->
        <div class="col-md-6">
          <label for="Name">Tên sản phẩm</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Nhập tên sản phẩm"
          />
        </div>

        <!-- Description Field -->
        <div class="col-md-6">
          <label for="Description">Mô tả:</label>
          <input
            type="text"
            id="Description"
            formControlName="description"
            placeholder="Mô tả sản phẩm"
          />
        </div>
      </div>

      <!-- Quantity Field -->
      <div>
        <label for="Quantity">Số lượng</label>
        <input type="number" id="Quantity" formControlName="quantity" min="0" />
        <div
          *ngIf="
            putproductForm.get('quantity')?.hasError('min') &&
            putproductForm.get('quantity')?.touched
          "
        >
          <span class="text-danger">Số lượng không được nhỏ hơn 0</span>
        </div>
      </div>

      <!-- Note Field -->
      <div>
        <label for="Price">Giá</label>
        <input
          type="number"
          id="Price"
          formControlName="price"
          placeholder="Nhập giá sản phẩm"
          min="0"
        />
        <div
          *ngIf="
            putproductForm.get('price')?.hasError('min') &&
            putproductForm.get('price')?.touched
          "
        >
          <span class="text-danger">Giá sản phẩm không được nhỏ hơn 0</span>
        </div>
      </div>

      <!-- Submit Button -->
      <div>
        <button class="btn btn-success" type="submit">Lưu thay đổi</button>
      </div>
    </form>
  </div>
</div>
